* {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 1.5rem;
}
html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

.wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      #ed1081,
      #e0358d,
      #d259a3,
      #c47dba,
      #b5a2d0,
      #a7c7e7,
      #9aedff,
      #9aedff
    ),
    url("../src/images/bright-squares.png") center/cover no-repeat;
}

.import {
  min-height: 70vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* Hide scrollbar for Webkit/Blink based browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}
